.icon {
  font-size: 5rem;
  &--happy {
    color: #12939a;
  }
  &--neutral {
    color: #e6cc0b;
  }
  &--sad {
    color: #f76252;
  }
}
.sentiment-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__pre {
    margin-top: -0.5rem;
  }
}
